

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    display: flex;
    align-items: center ;
    justify-content:center;

}

@keyframes color{
    0% {
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    0%{
        background-position:  0% 50%;
    }
}


body{

    /*background-color: #8C52FF;
    background-image: url(GduyezDXIAAY3jR.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background: rgba(255,255,255,0.3);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba (0,0,0,0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
    text-align: center;

}

h2, label, p{
    color: #fff;
    margin: 8px 0;
}

h2:hover{
    color: #8b48d7;
}

input{
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
}

button {
    position: relative;
    background: #debff4; /* Initial background color */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    font-size: 15px;
    overflow: hidden; /* Ensures the pseudo-element doesn't spill out */
    z-index: 1;
}

button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 300%; /* Extend height beyond the button */
    background: #8b48d7; /* Hover color */
    transform: translate(-50%, -50%);
    transition: width 0.9s ease; /* Smooth transition effect */
    z-index: -1; /* Ensure the pseudo-element stays behind the text */
}

button:hover::before {
    width: 150%; /* Expands to fill from center outward */
}

button:hover {
    color: white; /* Ensures text remains visible on hover */
}


#temp-div p{
    font-size: 60px;
    margin-top: -30px;
}

#weather-info
{
    font-size: 20px;
}

#weather-icon{
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#hourly-forecast{
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}
